<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 1rem;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img src="https://image.flaticon.com/icons/png/512/190/190161.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav  mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <app-cart-summary></app-cart-summary>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Yönetim Paneli
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a routerLink="/car/carManager" class="dropdown-item">Araç Yönetimi</a>
            </li>
            <li>
              <a routerLink="/brand/brandManager" class="dropdown-item">Marka Yönetimi</a>
            </li>
            <li>
              <a routerLink="/color/colorManager" class="dropdown-item">Renk Yönetimi</a>
            </li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li *ngIf="isAuthenticated" class="nav-item dropdown d-flex float-end">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
          {{user.firstName}} {{user.lastName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a routerLink="/profile" class="dropdown-item">Profil</a>
            </li>
            <li>
              <a (click)="logOut()"  class="dropdown-item">Çıkış Yap</a>
            </li>
          </ul>
        </li>

        <li *ngIf="!isAuthenticated" class="btn-group d-flex float-end">
          <button routerLink="/login" type="button" class="btn btn-success px-3">Giriş yap</button>
          <button type="button" class="btn btn-secondary px-3">Kayıt Ol</button>
        </li>
      </ul>


    </div>
  </div>
</nav>
