<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <h4>Renk Güncelle</h4>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="colorUpdateForm">
      <div class="align-items center">
        <div class="form-group">
          <input type="hidden" id="id" formControlName="id" class="form-control">
          <input type="text" id="colorName" formControlName="colorName" class="form-control" placeholder="Renk adı" />
        </div>
      </div>
    </form>
    <div class="row">
      <div class="d-flex mt-3">
        <button (click)="update()" type="button" class="btn btn-success me-2">Güncelle</button>
        <button (click)="closeColorUpdateModal()" type="button" class="btn btn-danger">İptal</button>
      </div>
    </div>
  </div>

</div>
