<div class="card">
  <div class="card-header">
    <div class="d-flex">
      <h4>Araç Güncelle</h4>
    </div>
  </div>
  <div class="card-body">
    <form [formGroup]="carUpdateForm">
      <div class="align-items center">
        <div class="form-group row">
          <input type="hidden" id="id" formControlName="id" class="form-control">
          <label for="brand" class="col-sm-3 mt-2 col-form-label">Marka</label>
          <div class="col-sm-9">
            <select class="form-select mb-2" formControlName="brandId" id="brand">
              <option value="0">Marka Seç</option>
              <option *ngFor="let brand of brands" [ngValue]="brand.id">{{brand.brandName}}</option>
            </select>
          </div>
          <label for="color" class="col-sm-3 mt-2 col-form-label">Renk</label>
          <div class="col-sm-9">
            <select class="form-select mb-2" formControlName="colorId" id="color">
              <option value="0">Renk Seç</option>
              <option *ngFor="let color of colors" [ngValue]="color.id">{{color.colorName}}</option>
            </select>
          </div>
          <label for="modelName" class="col-sm-3 col-form-label">Model Adı</label>
          <div class="col-sm-9">
            <input type="text" id="modelName" formControlName="modelName" class="form-control mb-2" placeholder="Model Name" />
          </div>
          <label for="description" class="col-sm-3 col-form-label">Açıklama</label>
          <div class="col-sm-9">
            <input type="text" id="description" formControlName="description" class="form-control mb-2" placeholder="Description" />
          </div>
          <label for="dailyPrice" class="col-sm-3 col-form-label">Günlük Fiyat</label>
          <div class="col-sm-9">
            <input type="number" id="dailyPrice" formControlName="dailyPrice" class="form-control mb-2" placeholder="Daily Price" />
          </div>
          <label for="modelYear" class="col-sm-3 col-form-label">Model Yılı</label>
          <div class="col-sm-9">
            <input type="number" id="modelYear" formControlName="modelYear" class="form-control mb-2" placeholder="Model Year" />
          </div>
          <input type="file" #fileInput multiple id="images" formControlName="images" class="form-control"/>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="d-flex mt-3">
        <button (click)="update()" type="button" class="btn btn-success me-2">Güncelle</button>
        <button (click)="closeCarUpdateModal()" type="button" class="btn btn-danger">İptal</button>
      </div>
    </div>
  </div>

</div>
